<h1>Near cars within 50km </h1>
<ul>
<% @nearby_cars.each do |car|  %>   
  <img src="<%= car.images.first.url %>" alt="<%= car.make%>" "<%= car.model %> ">
  <li> <%= car.make %> <%= car.model %>  </li>
<% end %>
</ul>  

