<h1>Near cars within 50km </h1>
<ul>
<% @nearby_cars.each do |car|  %>   
  <li> <%= car.make %> <%= car.model %>    
  <img src="<%= car.images.first.url %>" alt="<%= car.make%>" "<%= car.model %> "> 
  <%= link_to "Details", details_path(@show, id: car.id) %>
  </li>
<% end %>
</ul>  

